
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
src: local('Source Sans Pro'), local('Source-Sans-Pro'), url(http://truyen.com/css/Source-Sans-Pro.woff) format('woff');
}

.thumb-sm {
    height: 40px;
    overflow: hidden;
}

.img-full {
	max-height: 300px;
}

#chapterPaging {
	margin: 0px !important;
	border-bottom: 1px solid #191F23;
}

#chapterPaging li:first-child > span,
#chapterPaging li:first-child > a {
	border-left: 0px;
}
#chapterPaging li > a {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 1px solid #191F23 !important;
	background-color: rgba(0, 0, 0, 0) !important;
}