<div class="item">
  <div class="pos-rlt">
    <div class="item-overlay opacity r r-2x bg-black">
      <div class="center text-center m-t-n">
        <a href="/story/<%= id %>"><i class="fa fa-play-circle i-2x"></i></a>
      </div>
    </div>
    <a href="/story/<%= id %>"><img src="<%= image %>" alt="" class="r r-2x img-full"></a>
  </div>
  <div class="padder-v">
    <a href="/story/<%= id %>" class="text-ellipsis"><%= title %></a>
    <a href="/profile/test001" class="text-ellipsis text-xs text-muted"><%= author %></a>
  </div>
</div>
