<ul class="nav bg clearfix">
	<li>
		<div class="wrapper-sm clearfix">
			<a href="/profile/<%= profile.userId %>"> <span class="thumb-sm avatar pull-left m-l-xs">
					<img src="<%= profile.avatar %>" class="dker" alt="<%= profile.name %>"> <i
					class="on b-black"></i>
			</span> <span class="hidden-nav-xs clear"> <span class="block m-l">
						<strong class="font-bold text-lt"><%= profile.name %></strong>
				</span> <span class="text-muted text-xs block m-l">Pro Author</span>
			</span>
			</a>
		</div>
	</li>
	<% if (profile.isAuthor) {%>
	<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
		<%= lang.home.authorMenu %></li>
	<li><a href="/control/addstory"> <i class="icon-disc icon text-success"></i>
			<span class="font-bold"><%= lang.home.addStory %></span>
	</a></li>
	<% } %>
	<li class="m-b hidden-nav-xs"></li>
</ul>
<ul class="nav bg clearfix">
	<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
		<%= lang.home.discover %></li>
	<li><a href="/news"> <i class="icon-disc icon text-success"></i>
	 		<b class="badge bg-primary pull-right">6</b>
			<span class="font-bold"><%= lang.home.news %></span>
	</a></li>
	<li><a href="/hot"> <i
			class="icon-music-tone-alt icon text-info"></i> <span
			class="font-bold"><%= lang.home.hot %></span>
	</a></li>
	<li><a href="/categories"> <i
			class="icon-list icon text-primary-lter"></i><span class="font-bold"><%=
				lang.home.categories %></span>
	</a></li>
	<li><a href="/authors"> <i
			class="icon-drawer icon  text-info-dker"></i> <span class="font-bold"><%=
				lang.home.authors %></span>
	</a></li>
	<li><a href="video.html" data-target="#content" data-el="#bjax-el"
		data-replace="true"> <i
			class="icon-social-youtube icon  text-primary"></i> <span
			class="font-bold">Video</span>
	</a></li>
	<li class="m-b hidden-nav-xs"></li>
</ul>
<ul class="nav" data-ride="collapse">
	<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
		Interface</li>
	<li><a href="#" class="auto"> <span
			class="pull-right text-muted"> <i
				class="fa fa-angle-left text"></i> <i
				class="fa fa-angle-down text-active"></i>
		</span> <i class="icon-screen-desktop icon"> </i> <span>Layouts</span>
	</a>
		<ul class="nav dk text-sm">
			<li><a href="layout-color.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Color option</span>
			</a></li>
			<li><a href="layout-boxed.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Boxed layout</span>
			</a></li>
			<li><a href="layout-fluid.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Fluid layout</span>
			</a></li>
		</ul></li>
	<li><a href="#" class="auto"> <span
			class="pull-right text-muted"> <i
				class="fa fa-angle-left text"></i> <i
				class="fa fa-angle-down text-active"></i>
		</span> <i class="icon-chemistry icon"> </i> <span>UI Kit</span>
	</a>
		<ul class="nav dk text-sm">
			<li><a href="buttons.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Buttons</span>
			</a></li>
			<li><a href="icons.html" class="auto"> <b
					class="badge bg-info pull-right">369</b> <i
					class="fa fa-angle-right text-xs"></i> <span>Icons</span>
			</a></li>
			<li><a href="grid.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Grid</span>
			</a></li>
			<li><a href="widgets.html" class="auto"> <b
					class="badge bg-dark pull-right">8</b> <i
					class="fa fa-angle-right text-xs"></i> <span>Widgets</span>
			</a></li>
			<li><a href="components.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Components</span>
			</a></li>
			<li><a href="list.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>List group</span>
			</a></li>
			<li><a href="#table" class="auto"> <span
					class="pull-right text-muted"> <i
						class="fa fa-angle-left text"></i> <i
						class="fa fa-angle-down text-active"></i>
				</span> <i class="fa fa-angle-right text-xs"></i> <span>Table</span>
			</a>
				<ul class="nav dker">
					<li><a href="table-static.html"> <i
							class="fa fa-angle-right"></i> <span>Table static</span>
					</a></li>
					<li><a href="table-datatable.html"> <i
							class="fa fa-angle-right"></i> <span>Datatable</span>
					</a></li>
				</ul></li>
			<li><a href="#form" class="auto"> <span
					class="pull-right text-muted"> <i
						class="fa fa-angle-left text"></i> <i
						class="fa fa-angle-down text-active"></i>
				</span> <i class="fa fa-angle-right text-xs"></i> <span>Form</span>
			</a>
				<ul class="nav dker">
					<li><a href="form-elements.html"> <i
							class="fa fa-angle-right"></i> <span>Form elements</span>
					</a></li>
					<li><a href="form-validation.html"> <i
							class="fa fa-angle-right"></i> <span>Form validation</span>
					</a></li>
					<li><a href="form-wizard.html"> <i
							class="fa fa-angle-right"></i> <span>Form wizard</span>
					</a></li>
				</ul></li>
			<li><a href="chart.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Chart</span>
			</a></li>
			<li><a href="portlet.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Portlet</span>
			</a></li>
			<li><a href="timeline.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Timeline</span>
			</a></li>
		</ul></li>
	<li><a href="#" class="auto"> <span
			class="pull-right text-muted"> <i
				class="fa fa-angle-left text"></i> <i
				class="fa fa-angle-down text-active"></i>
		</span> <i class="icon-grid icon"> </i> <span>Pages</span>
	</a>
		<ul class="nav dk text-sm">
			<li><a href="profile.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Profile</span>
			</a></li>
			<li><a href="blog.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Blog</span>
			</a></li>
			<li><a href="invoice.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Invoice</span>
			</a></li>
			<li><a href="gmap.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Google Map</span>
			</a></li>
			<li><a href="jvectormap.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Vector Map</span>
			</a></li>
			<li><a href="signin.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Signin</span>
			</a></li>
			<li><a href="signup.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>Signup</span>
			</a></li>
			<li><a href="404.html" class="auto"> <i
					class="fa fa-angle-right text-xs"></i> <span>404</span>
			</a></li>
		</ul></li>
</ul>
<ul class="nav text-sm">
	<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"><span
		class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>
		Playlist</li>
	<li><a href="#"> <i class="icon-music-tone icon"></i> <span>Hip-Pop</span>
	</a></li>
	<li><a href="#"> <i
			class="icon-playlist icon text-success-lter"></i> <b
			class="badge bg-success dker pull-right">9</b> <span>Jazz</span>
	</a></li>
</ul>