<section class="vbox">
	<section class="scrollable padder">
		<div class="m-b-md">
			<h3 class="m-b-none"><%= lang.story.addNew %></h3>
		</div>

		<form data-validate="parsley" class="bs-example form-horizontal">
			<section class="panel panel-default">
				<header class="panel-heading font-bold"><%=
					lang.story.addNewForm %></header>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-lg-2 control-label"><%= lang.story.title
							%></label>
						<div class="col-lg-10">
							<input type="text" class="form-control error-point" data-required="true" data-error-message-required="<%= messages.story.titleRequired %>"
								placeholder="<%= lang.story.title %>"> <span
								class="help-block m-b-none"><%= lang.story.titleHelp %></span>
						</div>
					</div>
					
					<div class="form-group">
                      <label class="col-sm-2 control-label"><%= lang.story.storyTypeName %></label>
                      <div class="col-sm-10">
                        
                        <div class="radio i-checks">
                          <label>
                            <input type="radio" name="storyType" value="0">
                            <i></i>
                            <%= lang.story.storyType.writen %>
                          </label>
                        </div>
                        <div class="radio i-checks">
                          <label>
                            <input type="radio" name="storyType" value="1" checked="">
                            <i></i>
                            <%= lang.story.storyType.translate %>
                          </label>
                        </div>
                      </div>
                    </div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<label class="checkbox i-checks error-point">
								<input type="checkbox" name="tos" checked
									data-required="true" data-error-message-required="<%= messages.common.tos %>"><i></i> <%= lang.common.iagree %> <a href="#"
									class="text-info"><%= lang.common.termsOfService %></a>
							</label>
						</div>
					</div>

				</div>
				<footer class="panel-footer text-right bg-light lter">
					<button type="submit" class="btn btn-default"><%= lang.common.cancel %></button>
					<button type="submit" id="save" class="btn btn-success btn-s-xs"><%= lang.common.create %></button>
				</footer>
			</section>
		</form>
	</section>
</section>